<ion-view title="Beer" id="page3">
  <ion-content padding="true" style="background: url(img/nG79wHyTQCHcEGmH5AvE_beer.jpg) no-repeat center;background-size:cover;" class="has-header">
      <!--<div class="list">-->

        <div ng-controller="beerCtrl">
          <div class="card">
          <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" ng-model="beerNameSearch" placeholder="Search for beer"/>
          </label>
          <button ng-click="fetchBeer()" class="button button-small button-clear button-icon icon ion-search">
          </button>
          </div>
            </div>


          <!--Card List-->
          <div class="list" ng-show="beer">

            <!--Card Info-->
            <div class="card" ng-repeat="beers in beer">
              <div class="item item-text-wrap item-avatar">
                <img ng-src="{{beers.labels.icon || '../img/7qapHuCjQEu86GfUmJZE_beer.jpg'}}"><img>
                <h2 ng-bind="beers.name"></h2>
                <p ng-bind="beers.description || 'No Descrption Avalible'"></p>
              </div>

              <!--Card Footer-->
              <div class="item">
                <button class="button button-clear subdued icon-left ion-star button-positive col col-50 ">Save</button>
                <button class="button button-clear subdued icon-left ion-information-circled button-positive col col-50 ">About</button>
              </div>
            </div>

            <!--Working code, do not delete. Saving for backup-->
            <!--<a class="item item-thumbnail-left item-text-wrap" href="#" ng-repeat="beers in beer">-->
              <!--<img ng-src="{{beers.labels.icon}}"><img>-->
              <!--<h2 ng-bind="beers.name"></h2>-->
              <!--<p ng-bind="beers.description"></p>-->
              <!--<div class="item item-divider">-->
                <!--<button class="button button-clear icon-left ion-star button-positive">Favorite</button>-->
              <!--</div>-->
            <!--</a>-->

          </div>

    </div>



  </ion-content>
</ion-view>
