<ion-view title="Beer" id="page3">
  <ion-content padding="true" style="background: url(img/nG79wHyTQCHcEGmH5AvE_beer.jpg) no-repeat center;background-size:cover;" class="has-header">
      <!--<div class="list">-->

        <div ng-controller="beerCtrl">
          <div class="card">
          <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" ng-model="beerNameSearch" placeholder="Search for beer"/>
          </label>
          <button ng-click="fetchBeer()" class="button button-small button-clear button-icon icon ion-search">
          </button>
          </div>
            </div>


          <!--Card List-->
          <div class="card" ng-show="beer">

            <div class="item item-text-wrap" ng-repeat="beers in beer">
              <img ng-src="{{beers.labels.icon}}"><img>
              <h2 ng-bind="beers.name"></h2>
              <p ng-bind="beers.description"></p>
              <div class="item item-divider">
                <button class="button button-clear icon-left ion-star button-positive">Favorite</button>
              </div>
            </div>

            <!--<a class="item item-thumbnail-left item-text-wrap" href="#" ng-repeat="beers in beer">-->
              <!--<img ng-src="{{beers.labels.icon}}"><img>-->
              <!--<h2 ng-bind="beers.name"></h2>-->
              <!--<p ng-bind="beers.description"></p>-->
              <!--<div class="item item-divider">-->
                <!--<button class="button button-clear icon-left ion-star button-positive">Favorite</button>-->
              <!--</div>-->
            <!--</a>-->

          </div>

          <!--List-->
          <!--<div class="list card" ng-show="beer">-->
          <!--<ion-list ng-show="beer">-->
            <!--<ion-item ng-show="beer" ng-repeat="beers in beer">-->
            <!--<img ng-src="{{beers.labels.icon}}"><img>-->
          <!--<span ng-bind="beers.name">-->
          <!--</span>-->
            <!--</ion-item>-->
          <!--</ion-list>-->
            <!--</div>-->

          <!--{{beerName}}-->
        <!--</div>-->

      <!--</div>-->
    </div>



  </ion-content>
</ion-view>
