<ion-view title="Beer" id="page3">
    <ion-content padding="true" style="background: url(img/nG79wHyTQCHcEGmH5AvE_beer.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="beer-form1" class="list">
            <label class="item item-input" name="Search-beer">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Beer Here">
            </label>
        </form>
        <div>
            <div></div>
        </div>
    </ion-content>
</ion-view>