
<ion-view title="DamGap" id="page2">

  <ion-header-bar align-title="left" class="bar-positive">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </div>
    <h1 class="title">About Us</h1>
    <!--<div class="buttons">-->
      <!--<button class="button">Right Button</button>-->
    <!--</div>-->
  </ion-header-bar>


  <ion-content padding="true" class="has-header">
    <div class="item item-body">
      <img class="full-image" ng-src="img/DamGapIcons/Logo Full.png">
      <p>
        DamGap is something. Maybe?
      </p>
      <p>
        <a href="#" class="subdued" onClick="window.open('http//:www.adriandunham.com', '_blank', 'location=yes');return false;">Adrian Dunham</a>
        <a href="#" class="subdued" onClick="window.open('http//:www.anthonygarera.com', '_blank', 'location=yes');return false;">Anthony Garera</a>
      </p>
    </div>

  </ion-content>
</ion-view>
