
<ion-view title="DamGap" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="item item-body">
      <img class="full-image" ng-src="img/DamGapIcons/Logo Full.png">
      <p>
        DamGap is something. Maybe?
      </p>
      <p>
        <a href="#" class="subdued" onClick="window.open('http//:www.adriandunham.com', '_blank', 'location=yes');return false;">Adrian Dunham</a>
        <a href="#" class="subdued" onClick="window.open('http//:www.anthonygarera.com', '_blank', 'location=yes');return false;">Anthony Garera</a>
      </p>
    </div>

  </ion-content>
</ion-view>
