<ion-view title="Favorites" id="page4">

    <ion-tabs class="tabs-positive tabs-icon-top">
      <ion-tab title="Beers" icon="ion-beer">
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Last Name">
            </label>
            <label class="item item-input">
              <textarea placeholder="Comments"></textarea>
            </label>
          </div>
      </ion-tab>
      <ion-tab title="Brews" icon="ion-erlenmeyer-flask-bubbles">
        That
      </ion-tab>
    </ion-tabs>


</ion-view>

