<ion-view title="Home" id="page2">

  <ion-header-bar align-title="left" class="bar-positive">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </div>
    <h1 class="title">Home</h1>
    <!--<div class="buttons">-->
      <!--<button class="button">Right Button</button>-->
    <!--</div>-->
  </ion-header-bar>

  <!--<ion-tabs class="tabs-icon-top tabs-top tabs-positive" ng-class="hasTabsTop">-->

    <!--<ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">-->
      <!--&lt;!&ndash; Tab 1 content &ndash;&gt;-->
      <!--<h1 class="has-header">Happy Birthday!</h1>-->
    <!--</ion-tab>-->

    <!--<ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" class="has-tabs-top">-->
      <!--&lt;!&ndash; Tab 2 content &ndash;&gt;-->
      <!--<h2>Its your birthday!</h2>-->
    <!--</ion-tab>-->

    <!--<ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" class="has-tabs-top">-->
      <!--&lt;!&ndash; Tab 3 content &ndash;&gt;-->
      <!--<h4>No more birthday :(</h4>-->
    <!--</ion-tab>-->

  <!--</ion-tabs>-->

    <ion-content padding="false" class="has-header">

      <ion-slides options="options" slider="data.slider">
        <ion-slide-page class="mdc-bg-grey-600 mdc-text-white-darker all-padding">
          <h1 class="mdc-text-white-darker">AtomBrew</h1>
          <p>AtomBrew is an app search using BreweryDB with the Ionic and Angular JS framework.</p>
          <br/>
          <h3 class="mdc-text-white-darker">Swype right to get started!</h3>
          <img class="full-image" src="http://s3.amazonaws.com/brewerydb/Powered-By-BreweryDB.png">
        </ion-slide-page>
        <ion-slide-page class="box mdc-bg-teal-A200 mdc-text-white-darker all-padding">
          <h1 class="mdc-text-white-darker">Beers</h1>
          <p>There is a great selection of beer on tap. Tap your favorite to add them to your favorites list</p>
        </ion-slide-page>
        <ion-slide-page class="mdc-bg-pink-A400 mdc-text-white-darker all-padding">
          <h1 class="mdc-text-white-darker">Brews</h1>
          <p>Lat: {{position.coords.latitude}} Long: {{position.coords.longitude}}</p>
        </ion-slide-page>
        <ion-slide-page class="mdc-bg-light-green-A400 mdc-text-white-darker all-padding">
          <h1 class="mdc-text-white-darker">Favs</h1>
          <p>Lat: {{position.coords.latitude}} Long: {{position.coords.longitude}}</p>
        </ion-slide-page>
      </ion-slides>

      <!--<h1 class="mdc-text-red">AtomBrew</h1>-->
      <!--<p>AtomBrew is an app search using BreweryDB with the Ionic and Angular JS framework.</p>-->
      <!--<br/>-->
      <!--<h3 class="mdc-text-red">Swype right to get started!</h3>-->
      <!--<img class="full-image" src="http://s3.amazonaws.com/brewerydb/Powered-By-BreweryDB.png">-->

    </ion-content>
</ion-view>
