<ion-view title="Home" id="page2">

  <ion-header-bar align-title="left" class="bar-positive">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </div>
    <h1 class="title">Home</h1>
    <!--<div class="buttons">-->
      <!--<button class="button">Right Button</button>-->
    <!--</div>-->
  </ion-header-bar>

  <!--<ion-tabs class="tabs-icon-top tabs-top tabs-positive" ng-class="hasTabsTop">-->

    <!--<ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">-->
      <!--&lt;!&ndash; Tab 1 content &ndash;&gt;-->
      <!--<h1 class="has-header">Happy Birthday!</h1>-->
    <!--</ion-tab>-->

    <!--<ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" class="has-tabs-top">-->
      <!--&lt;!&ndash; Tab 2 content &ndash;&gt;-->
      <!--<h2>Its your birthday!</h2>-->
    <!--</ion-tab>-->

    <!--<ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" class="has-tabs-top">-->
      <!--&lt;!&ndash; Tab 3 content &ndash;&gt;-->
      <!--<h4>No more birthday :(</h4>-->
    <!--</ion-tab>-->

  <!--</ion-tabs>-->

  <ion-content padding="false" class="has-header">

    <ion-slides options="options" slider="data.slider">
      <ion-slide-page class="mdc-bg-grey-600 mdc-text-white-darker all-padding">
        <h1 class="mdc-text-white-darker">AtomBrew</h1>
        <p>AtomBrew is an app search using BreweryDB with the Ionic and Angular JS framework.</p>
        <br/>
        <h3 class="mdc-text-white-darker">Swype right for this weeks featured beer and brewery</h3>
        <img class="full-image" src="http://s3.amazonaws.com/brewerydb/Powered-By-BreweryDB.png">
      </ion-slide-page>
      <ion-slide-page class="box mdc-bg-blue-500 mdc-text-white-darker all-padding">
        <h1 class="mdc-text-white-darker text-center">Featured Beer</h1>

        <div class="item item-avatar">
          <img ng-src="{{featured.beer.labels.icon || './img/noImageFound.png'}}">
          <h2>{{featured.beer.nameDisplay}}</h2>
          <p ng-show="featured.beer.abv">Alcohol Percent By Volume: {{featured.beer.abv}}%</p>
          <p ng-show="featured.beer.style.name"> Style: {{featured.beer.style.name}}</p>
        </div>

        <div class="item item-body">
          <!--<img class="full-image" ng-show="featured.beer.labels.medium" ng-src="{{sfeatured.beer.labels.medium}}">-->
          <p>
            {{featured.beer.description}}
          </p>
        </div>


      </ion-slide-page>
      <ion-slide-page class="mdc-bg-blue-600 mdc-text-white-darker all-padding">
        <h1 class="mdc-text-white-darker text-center">Featured Brewery</h1>

        <div class="item item-avatar">
          <img ng-src="{{featured.brewery.images.icon || './img/noImageFound.png'}}">
          <h2>{{featured.brewery.name}}</h2>
          <p ng-show="featured.brewery.established">Established: {{featured.brewery.established}}</p>
          <p ng-show="featured.brewery.website"> Website: {{featured.brewery.website}}</p>
        </div>

        <div class="item item-body">
          <!--<img class="full-image" ng-show="featured.brewery.labels.medium" ng-src="{{featured.brewery.labels.medium}}">-->
          <p>
            {{featured.brewery.description || 'No Description Available'}}
          </p>
        </div>
      </ion-slide-page>

    </ion-slides>

  </ion-content>
</ion-view>
