<ion-view title="Settings" id="page4">
    <ion-content padding="true" class="has-header">
        <ion-list id="settings-list1">
            <!--<ion-item class="item-icon-left dark  Donate-button" id="settings-list-item1">-->
                <!--<i class="icon ion-android-bar"></i>Tip</ion-item>-->
                  <!--<div class="card">-->
                    <!--<div class="item item-text-wrap">-->
                      <!--We are college kids working our way though college. A-->
                    <!--</div>-->
                    <!--<p>-->
                      <!--<a href="#" class="subdued">Donate</a>-->
                      <!--<a href="#" class="subdued"></a>-->
                    <!--</p>-->
                  <!--</div>-->
            <ion-item class="item-icon-left dark  About-us" id="settings-list-item3" href="#/DamGap">
                <i class="icon ion-android-people"></i>About Us</ion-item>
            <!--<ion-item class="item-icon-left dark  Reset-button" id="settings-list-item2">-->
                <!--<i class="icon ion-android-refresh"></i>Reset</ion-item>-->
        </ion-list>

      <div class="item item-body">
        <img class="full-image" src="http://s3.amazonaws.com/brewerydb/Powered-By-BreweryDB.png">
        <p>
          BreweryDB is a third party. IonBrew is not responsible for andy of the data on here.
        </p>

      </div>
    </ion-content>
</ion-view>
