<ion-view title="Settings" id="page4">
    <ion-content padding="true" class="has-header">
        <ion-list id="settings-list1">
            <ion-item class="item-icon-left dark  Donate-button" id="settings-list-item1">
                <i class="icon ion-android-bar"></i>Donate</ion-item>
            <ion-item class="item-icon-left dark  About-us" id="settings-list-item3" href="#" onclick="window.open('anthonygarera.com', '_system', 'location=yes'); return false;">
                <i class="icon ion-android-people"></i>About Us</ion-item>
            <ion-item class="item-icon-left dark  Reset-button" id="settings-list-item2">
                <i class="icon ion-android-refresh"></i>Reset</ion-item>
        </ion-list>
    </ion-content>
</ion-view>