/* Empty. Add your own CSS if you like */
.md-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

.roundedCorners {
  border-radius: 20px;
}

.search {
  border-radius: 25px;
  padding: 20px;
}

.search-text {
  z-index: 1;
}

.search-button {
  position: absolute;
  z-index: 2;
  right: 0px;
}

.spinner svg {
  width: 40px;
  height: 40px;
  stroke: #009688;
  fill: #FFFFFF;
}

.bottom-right {
  right: -10px;
  bottom: -10px;
}
