/* Empty. Add your own CSS if you like */
.md-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

.roundedCorners {
  border-radius: 20px;
}

.search {
  border-radius: 25px;
  padding: 10px;
  background: rgba(0, 0, 0, 0);
}

.search-box{
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 70px;
}

.search-button {
  position: absolute;
  opacity: 1;
  right: 0;
  z-index: 2;
  background-color: rgba(255, 102, 0, 255);
  border: none;
}

.search-text {
  position: absolute;
  margin-top: 15px;
  width: 95%;
  height: 40px;
  opacity: 1;
  z-index: 1;
  border-radius: 25px;
  background: white;
}

.spinner svg {
  width: 40px;
  height: 40px;
  stroke: #009688;
  fill: #FFFFFF;
}

.bottom-right {
  right: -10px;
  bottom: -10px;
}

.all-padding {
  padding: 15px;
}

#container {
  min-height:100%;
  position:relative;
}
#header {
  padding:10px;
}
#footer {
  position:absolute;
  bottom:0;
  width: 100%;
  padding-right: 30px;
  padding-bottom: 20px;
}
